/*
	Element selectors
 */

fieldset {
	border-radius: 0.25rem;
}

iframe {
	border: none;
}


/*
	Modifications to Bootstrap classes.
 */
.form-inline>label {
	margin-right: 0.25rem;
}

.form-inline>.form-control:not(:last-child) {
	margin-right: 0.5rem;
}

.list-group {
	list-style-type: none;
}

.list-group-item {
	background-color: var(--light);
}

.nav-tabs .nav-link {
    border-color: #e9ecef #e9ecef #dee2e6;
}

/*
	Additional classes.
 */

.full-height {
	bottom: 0;
	height: 100%;
	position: absolute;
	top: 0;
}

.button-menu {
	display: flex;
	align-items: stretch;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.button-menu>* {
	margin-bottom: 0.5rem;
}

.button-menu>.btn {
	text-align: left;
}

.menu-button-name {
	margin-right: 0.5rem;
}

.toolbar-area {
	border-bottom: 1px solid #dee2e6;
}
